*{
    font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  ;
 
  }
  label{
    color: rgb(0, 90, 0);
  }
  #pname,#pPrice,#pId{
    color: red;
  }

input[type=text],input[type=number],textarea,input[type=file] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    width:  70px;
    background-color: rgb(0, 90, 0);
    color: rgb(255, 255, 255);
    padding:  5px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
 
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  #delete{
     
    background-color: rgb(255, 73, 73);
  }

  #edit{
    background-color: lightblue;
  }
  table {
    width:fit-content;
    height: fit-content;
  }
  #